    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pariwisata Home</title>
    <link rel="stylesheet" type="text/css" href="../../css/style.css"/>
    <style>
        table{
            display: block;
        }
        tbody{
            margin: 0px;
        }
        table td{
            font-size: 24px;
            font-family: 'Courier New', Courier, monospace;
            color: #65451F;
        }
    </style>
</head>
<body>
    <img src="../../images/map.png" class="background-maps" alt="map background image"/>
    <header>
        <div class="nav-container">
            <a class="btn-image btn-left" href="bab-8-5.html"></a>
            <a class="btn-image btn-right" href="bab-8-7.html"></a>
        </div>
    </header>

    <div class="scrolling-content" style="padding-bottom: 64px; margin-bottom: 32px;">
        <p>
            <span class="text-header">Inti Sila yang Morfologis (Pemaknaan Secara Abstrak)</span><br/>
            <span class="text-header">A. Ketuhanan</span><br/>
            &nbsp;    Ketuhanan adalah sifat dan keadaan Negara dengan hakikat Tuhan (kesesuaian dan arti sebab-akibat). Makna sila ini adalah percaya dan taqwa kepada Tuhan Yang Maha Esa sesuai dengan agama dan kepercayaannya masing-masing menurut dasar kemanusiaan yang adil dan beradab. Hormat dan menghormati serta bekerjasama antara pemeluk agama dan penganut-penganut kepercayaan yang berbeda-beda. Sehingga tercipta kerukunan hidup, saling menghormati kebebasan menjalankan ibadah sesuai dengan agama dan kepercayaan masing-masing. Tidak memaksakan suatu agama atau kepercayaannya kepada orang lain.
        </p>
        <p>
            <span class="text-header">B. Kemanusiaan</span><br/>
            &nbsp;    Kemanusiaan adalah sifat dan keadaan Negara dengan hakikat kemanusian. Makna sila ini adalah Mengakui persamaan derajat, persamaan hak dan persamaan kewajiban antara sesama manusia, saling mencintai sesama manusia. Mengembangkan sikap tenggang rasa, tidak semena-mena terhadap orang lain. Menjunjung tinggi nilai kemanusiaan, gemar melakukan kegiatan kemanusiaan, berani membela kebenaran dan keadilan. Bangsa Indonesia merasa dirinya sebagai bagian dari masyarakat Dunia Internasional dan. Mengembangkan sikap saling hormat-menghormati dan bekerjasama dengan bangsa lain.
        </p>
        
        <p>
            <span class="text-header">C. Persatuan</span><br/>
            &nbsp;    Persatuan adalah sifat dan keadaan Negara dengan hakikat kesatuan rakyat dan kesatuan daerah. Makna sila ini adalah menjaga Persatuan dan Kesatuan Negara Kesatuan Republik Indonesia, rela berkorban demi bangsa dan negara, cinta akan Tanah Air. Bangga sebagai bagian dari Indonesia. Memajukan pergaulan demi persatuan dan kesatuan bangsa yang ber-Bhinneka Tunggal Ika.
        </p>
        
        <p>
            <span class="text-header">D. Kerakyatan</span><br/>
            &nbsp;    Kerakyatan adalah sifat dan keadaan Negara dengan hakikat yang sesuai dengan hakikat rakyat. Makna sila ini adalah mengutamakan kepentingan negara dan masyarakat, tidak memaksakan kehendak kepada orang lain. Mengutamakan budaya rembug atau musyawarah dalam mengambil keputusan bersama. Berembug atau bermusyawarah sampai mencapai konsensus atau kata mufakat diliputi dengan semangat kekeluargaan.
        </p>
        
        <p>
            <span class="text-header">E. Keadilan</span><br/>
            &nbsp;    Keadilan adalah sifat dan keadaan Negara yang sesuai dengan hakikat adil. Makna sila ini adalah Bersikap adil terhadap sesama, menghormati hak-hak orang lain, menolong sesama, menghargai orang lain, melakukan pekerjaan yang berguna bagi kepentingan umum dan bersama. Keadilan dapat dikelompokkan menjadi 3, yaitu hubungan keadilan negara dengan warga, hubungan keadilan warga pada warga, dan hubungan keadilan warga dengan warga yang lain.
        </p>
    </div>
    <footer>
    </footer>
</body>
</html>