    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pariwisata Home</title>
    <link rel="stylesheet" type="text/css" href="../../css/style.css"/>
    <style>
        table{
            display: block;
        }
        tbody{
            margin: 0px;
        }
        table td{
            font-size: 24px;
            font-family: 'Courier New', Courier, monospace;
            color: #65451F;
        }
    </style>
</head>
<body>
    <img src="../../images/map.png" class="background-maps" alt="map background image"/>
    <header>
        <div class="nav-container">
            <a class="btn-image btn-left" href="bab-8-2.html"></a>
            <a class="btn-image btn-right" href="bab-8-4.html"></a>
        </div>
    </header>

    <div class="scrolling-content" style="padding-bottom: 64px; margin-bottom: 32px;">
        <div class="image-frame">
            <img src="../../images/img_bab_8_3.png"/>
        </div>
        <p>
            <span class="text-header">Supomo</span><br/>
            &nbsp;    Supomo dalam pidato menyampaikan syarat mutlak untuk nengadakan suatu negara dipandang dari sudut hukum dan formal (yuridisprudensi) yaitu harus ada teritorial, rakyat dan pemerintahan yang berdaulat atas dasar hukum internasional. Petikan pidato Supomo adalah sebagai berikut: “Maka teranglah tuan-tuan yang terhormat, bahwa jika kita hendak mendirikan Negara Indonesia yang sesuai dengan keistimewaan sifat dan corak masyarakat Indonesia, maka negara kita harus berdasar atas aliran pikiran (staatsidee) negara yang bersatu dengan seluruh rakyatnya, mengatasi seluruh golongan-golongan dalam lapangan apapun” dan Supomo menegaskan pilihan dasar negara yang integralistik merupakan pilihan yang paling sesuai dengan semangat Indonesia asli, alasannya negara tidak mempersatukan dirinya dengan golongan terbesar dan kuat, akan tetapi mengatasi segala golongan dan segala seseorang, mempersatukan diri dengan segala lapisan rakyat. <br>
        </p>
        <p>
            &nbsp;      Tanggal (1 Juni 1945) Sukarno menyampaikan pandangannya mengenai dasar negara yang didahului dengan menjelaskan arti “dasar negara” dan “merdeka”. Menurut pandangan sekaligus usulan Sukarno dalam pidatonya, ada lima prinsip dasar yang dapat dijadikan dasar Negara Indonesia Merdeka yaitu: 5 sila yang disampaikan Soekarno antara lain, kebangsaan Indonesia, internasionalisme atau perikemanusiaan, mufakat atau demokrasi, kesejahteraan sosial, dan ketuhanan yang berkebudayaan. Sebagai tindak lanjut dari usulan BPUPK yang diketuai Dr Radjiman Widiodiningrat membentuk tim kecil (tim 8). Tim tersebut dipimpin oleh Soekarno dan anggota yang terdiri dari: Wachid Hasyim, Mohammad Hatta, Otto Iskandardinata, A. Marimis, Mohammad Yamin, Ki Bagus Hadikusumo, dan Sutardjo Kartohadikusumo. Tujuan dibentuknya tim 8 yaitu untuk menampung usulan gagasan, ide pada sidang BPUPK.
        </p>
    </div>
    <footer>
    </footer>
</body>
</html>