    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pariwisata Home</title>
    <link rel="stylesheet" type="text/css" href="../../css/style.css"/>
</head>
<body>
    <img src="../../images/map.png" class="background-maps" alt="map background image"/>
    <header>
        <div class="nav-container">
            <a class="btn-image btn-left" href="awal.html"></a>
            <a class="btn-image btn-right" href="bab-8-2.html"></a>
        </div>
    </header>
    
    <a class="scroll-container" style="margin: 32px auto;">
        <span>Kegiatan Dalam Upaya Menyatukan Perjuangan Bangsa</span>
    </a>

    <div class="scrolling-content" style="padding-bottom: 64px; margin-bottom: 32px;">
        <div class="image-frame">
            <img src="../../images/img_bab_8_1.png"/>
        </div>
        <p>
            <span class="text-header">Proses Pembuahan dan Perenungan</span><br/>
            &nbsp;    Rintisan sejarah konseptualisasi dimulai sejak awal 1900-an yang ditandai dengan penggalian gagasan tentang bangunan kebangsaan bersama. Gagasan tentang bangunan kebangsaan tertuang dalam munculnya organisasi pergerakan seperti: Sarekat Islam (SI), Muhammaddiyah, Nahdlotul Ulama (NU), Perhimpunan Indonesia, Jamiatul Khair, dll. Pembentukan partai politik juga mulai bermuculan seperti: Indische Partij, PNI, dan partai sosialis. Tahun 1920-an dan 1930-an dapat dikatakan sebagai “dasawarsa ideologi” dalam sejarah perjuangan kebangsaan. Pembuahan dan perunungan tentang cita-cita kemerdekaan, demokrasi, kedaulatan rakyat, keadilan sosial dan nasionalisme Indonesia Raya semakin kuat.
        </p>
    </div>
    <footer>
    </footer>
</body>
</html>