<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pariwisata Home</title>
    <link rel="stylesheet" type="text/css" href="../../css/style.css"/>
</head>
<body>
    <img src="../../images/map.png" class="background-maps" alt="map background image"/>
    <header>
        <div class="nav-container">
            <a class="btn-image btn-left" href="bab-2-3.html"></a>
            <a class="btn-image btn-right" href="bab-2-5.html"></a>
        </div>
    </header>
    <div class="scrolling-content" style="padding-bottom: 64px; margin-bottom: 32px; margin-top: 64px;">
        <div class="image-frame">
            <img src="../../images/img_bab_2_4.png"/>
        </div>
        <p>
            <span class="text-header">D. Paguyuban Pasundan</span> <br/>
            &nbsp   Organisasi Pasundan, organisasi orang-orang Sunda didirikan pada September 1914. Tujuan menggaungkan kebebasan dalam memeluk keyakinan beragama, perbaikan pemahaman masyarakat melalui penyelenggaraan pendidikan, dan memperbaikan kehidupan rakyat. Tujuan organisasi, Pasundan melakukan perjuangan dan pengembangan bahasa Sunda, membangkitkan perhatian terhadap sejarah Sunda, dan meningkatkan pengetahuan kehidupan rakyat di tanah Sunda. Pasundan memfokuskan diri pada persoalan pendidikan masyarakat dan pertanian. Organisasi ini mempunyai 30 cabang, sedangkan yang paling penting terdapat di Bandung, Purwakarta dan Buitenzorg (Bogor) dengan jumlah keanggotaan sekitar 4.000 orang. Paguyuban Pasundan pernah diketuai oleh R. Otto Iskandardinata, seorang guru swasta dan juga anggota Volksraad (dewan perwakilan).
        </p>
        <p>
            &nbsp   April 1930, didirikan bagian organisasi untuk gerakan wanita yang diberi nama Pasundan Istri dengan jumlah 14 cabang dan 850 anggota. Sebagai lidah penyambung organisasi, muncullah majalah Pasoendan sejak 1915 dan koran harian Sipatahoenan sejak 1923. Perkembangan pergerakan nasional dalam tahapan ini masih mengalami proses transformasi dari ikatan primordial atau komunal ke ikatan asosiasional atau nasional dan banyak orang tidak menstrandensi ikatan etnik dengan alasan sederhana: tidak ada jaringan yang tersedia di balik batas-batas etnik. Ikatan budaya membatasi horizon budaya kelompok masyarakat, dan etnosentrisme memperhalus pikiran orang dan aksinya pada nasionalisme budaya. Realitas dunia kehidupan masyarakat menunjuk pada kelompok etnik dan budaya mereka, sementara apa yang terletak di belakangnya tidaklah dengan mudah dapat dipahami. Berdirinya Boedi Oetomo dan Paguyuban Pasundan merupakan contoh yang jelas dari kondisi ini.
        </p>
    </div>
    <footer>
    </footer>
</body>
</html>