<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pariwisata Materi</title>
    
    <link rel="stylesheet" href="styling-jember.css"/>
</head>
<body>
    <div class="container-row">
        <div class="content-container">
            <div class="content">
                <img src="../../../images/bondowoso/15 1.png" alt="">
            </div>
            <div class="content-nav">
                <div class="nav-buttons">
                    <a class="btn-image btn-left" href="14.html"> </a>
                    <div style="width: 24px;"></div>
                    <a class="btn-image btn-right" href="16.html"> </a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>