<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../../css/style.css"/>
    <title>Pariwisata Home</title>
</head>
<body>
    <img src="../../images/map.png" class="background-maps" alt="map background image"/>
    <header>
        <a class="btn-image btn-left"></a>
        <a class="btn-image btn-right"></a>
    </header>
    <div class="scrolling-list">
        <a class="scroll-container" href="bab-1-1.html">
            <span>Pengertian Nasionalisme dan Pertumbuhan Nasionalisme di Indonesia</span>
        </a>
        <a class="scroll-container" href="bab-2-1.html">
            <span>Munculnya Organisasi-Organisasi di Awal Pergerakan Nasional</span>
        </a>
        <a class="scroll-container" href="bab-3-1.html">
            <span>Perkembangan Organisasi Keagamaan Pada Masa Pergerakan Nasional</span>
        </a>
        <a class="scroll-container" href="bab-4-1.html">
            <span>Organisasi Pergerakan Nasional Indonesia</span>
        </a>
        <a class="scroll-container" href="bab-5-1.html">
            <span>Menganalisis Perkembangan Pergerakan Nasional 1926</span>
        </a>
        <a class="scroll-container" href="bab-6-1.html">
            <span>Pergerakan Wanita Masa Pergerakan Nasional</span>
        </a>
        <a class="scroll-container" href="#">
            <span>Sumpah Pemuda</span>
        </a>
        <a class="scroll-container" href="#">
            <span>Kegiatan Dalam Upaya Menyatukan Perjuangan Bangsa</span>
        </a>
    </div>
    <footer>
    </footer>
</body>
</html>