    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pariwisata Home</title>
    <link rel="stylesheet" type="text/css" href="../../css/style.css"/>
    <style>
        table{
            display: block;
        }
        tbody{
            margin: 0px;
        }
        table td{
            font-size: 24px;
            font-family: 'Courier New', Courier, monospace;
            color: #65451F;
        }
    </style>
</head>
<body>
    <img src="../../images/map.png" class="background-maps" alt="map background image"/>
    <header>
        <div class="nav-container">
            <a class="btn-image btn-left" href="bab-8-4.html"></a>
            <a class="btn-image btn-right" href="bab-8-6.html"></a>
        </div>
    </header>

    <div class="scrolling-content" style="padding-bottom: 64px; margin-bottom: 32px;">
        <div class="image-frame">
            <img src="../../images/img_bab_8_5.png"/>
        </div>
        <p>
            <span class="text-header">Panitia Persiapan Kemerdekaan Indonesia (PPKI)</span><br/>
            &nbsp;    Setelah melakukan perumusan dasar negara yang cukup panjang, maka BPUPKI melaporkan kepada penguasa Jepang Gunseikan Kakka pada 18 Juli 1945 dan berahirlah tugas dari BPUPKI. Untuk pelaksanaan kemerdekaan dibentuklah lembaga baru yaitu Panitia Persiapan Kemerdekaan Indonesia (PPKI) pada tanggal 7 Agustus 1945. Ketua PPKI adalah Sukarno dan Mohammad Hatta sebagai wakil ketua serta penasehat Mr. Ahmad Subarjo. Anggota PPKI berjumlah 21 orang, komposisinya 12 orang dari Jawa, 3 orang dari Sumatra, 2 orang dari Sulawesi, 1 orang dari Kalimantan, 1 orang dari Sunda Kecil (Nusa Tenggara), 1 orang dari Maluku, dan 1 orang dari golongan Cina. <br>
            Lima Sila Dalam Pembukaan UUD 1945
            <br>
            <ol>
                <li>
                    Ketuhanan yang Maha Esa
                </li>
                <li>
                    Kemanusiaan yang adil dan beradab
                </li>
                <li>
                    Persatuan Indonesia
                </li>
                <li>
                    Kerakyatan yang dipimpin oleh hikmat kebijaksanaan dalam permusyawaratan perwakilan
                </li>
                <li>
                    (Mewujudkan suatu) Keadilan sosial bagi seluruh rakyat Indonesia.
                </li>
            </ol>
        </p>
        <p>
            &nbsp;  Adapun landasan sila-sila Pancasila antara lain, Polimorfemik (tata bahasa /kata dasar + afiks), Tuhan (ke-/-an), Manusia (ke-/-an), Satu (per-/-an), Rakyat (ke-/-an), dan Adil (ke-/-an). 
        </p>
    </div>
    <footer>
    </footer>
</body>
</html>