<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pariwisata Home</title>
    <link rel="stylesheet" type="text/css" href="../../css/style.css"/>
</head>
<body>
    <img src="../../images/map.png" class="background-maps" alt="map background image"/>
    <header>
        <div class="nav-container">
            <a class="btn-image btn-left" href="bab-4-1.html"></a>
            <a class="btn-image btn-right" href="bab-4-3.html"></a>
        </div>
    </header>
    
    <a class="scroll-container" style="margin: 32px auto;">
        <span>Organisasi Pergerakan Nasional Indonesia</span>
    </a>

    <div class="scrolling-content" style="padding-bottom: 64px; margin-bottom: 32px;">
        <div class="image-frame">
            <img src="../../images/img_bab_4_2.png"/>
        </div>
        <p>
            <span class="text-header">B. Indische Social Democratische Vereeniging (ISDV)</span>
            &nbsp    Sneevliet bersama rekan-rekan Partai Buruh Sosial Demokrat Belanda di Surabaya, mendirikan ISDV pada 9 Mei 1914. Organisasi ini menganut paham Marxisme yang kemudian berganti nama menjadi Partai Komunis Hindia pada 23 Mei 1920. Organisasi Pergerakan Nasional ini kemudian diubah kembali menjadi Partai Komunis Indonesia (PKI) pada Desember 1920.
            PKI diketuai oleh Semaun, Darsono sebagai wakil, Bergsma sebagai sekretaris, juga tokoh seperti Alimin Prawirodirdjo dan Musso. Tanggal 13 November 1926, PKI melakukan pemberontakan di Jawa dan Sumatera yang kemudian kalah oleh pemerintah kolonial Belanda. Dari aksi tersebut, PKI dianggap sebagai partai terlarang dan tokoh-tokohnya ditangkap juga diasingkan ke Tanah Merah dan Boven Digul. Membawa sosialisme di masyarakat Bumiputra dan tidak hanya kepada anggota yang berasal dari Eropa. Menjadi pelopor di dalam menghadapi ideologi kapitalisme dan liberalisme yang sudah ada sejak revolusi indutri berlangsung di Hindia Belanda. ISDV ini merupakan cikal bakal terbentuknya Partai Komunis Indonesia pada Desember 1920, diketuai oleh Semaun. Pada 13 November 1926, PKI melakukan pemberontakan di Jawa dan Sumatera, namun dikalahkan oleh kolonial Belanda.
        </p>
    </div>
    <footer>
    </footer>
</body>
</html>