<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pariwisata Home</title>
    <link rel="stylesheet" type="text/css" href="../../css/style.css"/>
</head>
<body>
    <img src="../../images/map.png" class="background-maps" alt="map background image"/>
    <header>
        <div class="nav-container">
            <a class="btn-image btn-left" href="awal.html"></a>
            <a class="btn-image btn-right" href="bab-5-2.html"></a>
        </div>
    </header>
    
    <a class="scroll-container" style="margin: 32px auto;">
        <span>Menganalisis Perkembangan Pergerakan Nasional 1926</span>
    </a>

    <div class="scrolling-content" style="padding-bottom: 64px; margin-bottom: 32px;">
        <div class="image-frame">
            <img src="../../images/img_bab_5_1.png"/>
        </div>
        <p>
            <span class="text-header">Kongres Pemuda I 30 April - 2 Mei 1926</span><br/>
            &nbsp    Kongres Pemuda I dilaksanakan pada tanggal 30 April hingga 2 Mei 1926 di Lapangan Banteng, Jakarta. Dalam pertemuan tersebut dibahas beberapa hal, mulai dari susunan badan pusat, gagasan persatuan, peran perempuan, peran agama, hingga peran bahasa dalam mencapai kemerdekaan Indonesia. Kongres Pemuda I diketuai oleh Mohammad Tabrani dan Soemarmo ditetapkan sebagai wakilnya. Sedangkan posisi sekretaris diisi oleh Djamaluddin Adinegoro dan Soewarso ditunjuk sebagai bendahara. Selain itu, ada pula anggota Kongres Pemuda I yang terdiri dari Bahder Djohan, Jan Toule Soulehwij, Paul Pinontoan, Achmad Hamami, Sanusi Pane, dan Sarbani. Dalam pelaksanaannya, Kongres Pemuda I berlangsung selama tiga hari. Selama tiga hari ini tentunya memiliki pembahasan yang berbeda-beda dalam rapatnya. 
        </p>
        
        <p>
            <span class="text-header">A. Pertemuan Pertama</span><br/>
            &nbsp    Kongres Pemuda I dilaksanakan pada tanggal 30 April 1926 di gedung Vrijmetselaarsloge (sekarang gedung Bappenas), pada pukul 20.00. Kongres hari pertama dibuka dengan pidato ketua kongres, yaitu Mohammad Tabrani. Ia membicarakan bahwa ada cara untuk menyingkirkan penjajah. Karena itu, Tabrani meminta seluruh peserta kongres yang hadir menjadi pilar kekuatan bagi kemerdekaan Indonesia. Mengenai Kongres, Tabrani juga mengatakan bahwa tujuan Kongres adalah untuk meningkatkan semangat kerja sama di antara asosiasi-asosiasi Indonesia. Usai pembukaan Kongres, perwakilan masing-masing asosiasi diundang untuk berbicara. Setelah semuanya berjalan lancar sesuai dengan tujuan, kongres hari pertama berakhir pada pukul 00.15.
        </p>
    </div>
    <footer>
    </footer>
</body>
</html>