    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pariwisata Home</title>
    <link rel="stylesheet" type="text/css" href="../../css/style.css"/>
</head>
<body>
    <img src="../../images/map.png" class="background-maps" alt="map background image"/>
    <header>
        <div class="nav-container">
            <a class="btn-image btn-left" href="awal.html"></a>
            <a class="btn-image btn-right" href="#"></a>
        </div>
    </header>
    
    <a class="scroll-container" style="margin: 32px auto;">
        <span>Pergerakan Wanita Masa Pergerakan Nasional</span>
    </a>

    <div class="scrolling-content" style="padding-bottom: 64px; margin-bottom: 32px;">
        <div class="image-frame">
            <img src="../../images/img_bab_6_1.png"/>
        </div>
        <p>
            <span class="text-header">A. Pergerakan Wanita sebelum tahun 1920.</span><br/>
            &nbsp;    Pergerakan wanita mengangkat senjata dimulai masa penjajahan Belanda. Tokoh wanita: Martha Kristina Tiahahu, Nyi Ageng Serang, Cut Nyak Dien dan Cut Meutia.
        </p>
        
        <p>
            <span class="text-header">B. Pergerakan wanita awal abad XX</span><br/>
            &nbsp;    Pergerakan wanita awal abad XX identik dengan pergerakan pada wilayah sosial dan pendidikan. Mereka lebih banyak bergerak pada perbaikan kedudukan sosial dan peningkatan kecakapan melalui pendidikan maupun keterampilan serta perbaikan dalam hidup keluarga, perkawinan dan mempertinggi kecakapan sebagai seorang ibu.
        </p>
        <p>
            &nbsp;  Tujuan dari perkumpulan-perkumpulan wanita pada masa itu (1904-1920) antara lain, perbaikan kedudukan dalam hidup keluarga dan perkawinan, memperluas kecakapan sebagai ibu dan pemegang rumah tangga dengan jalan menambah lapangan pengajaran, memperbaiki pendidikan, dan mempertinggi kecakapan-kecakapan khusus untuk wanita.
        </p>
    </div>
    <footer>
    </footer>
</body>
</html>