<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pariwisata Home</title>
    <link rel="stylesheet" type="text/css" href="../../css/style.css"/>
</head>
<body>
    <img src="../../images/map.png" class="background-maps" alt="map background image"/>
    <header>
        <div class="nav-container">
            <a class="btn-image btn-left" href="bab-3-1.html"></a>
            <a class="btn-image btn-right" href="bab-3-3.html"></a>
        </div>
    </header>
    <div class="scrolling-content" style="padding-bottom: 64px; margin-bottom: 32px;">
        <div class="image-frame">
            <img src="../../images/img_bab_3_2.png"/>
        </div>
        <p>
            <span class="text-header">A. Sarekat islam</span><br/>
            &nbsp    Pada awalnya, Sarekat Islam adalah organisasi dagang bernama Sarekat Dagang Islam (SDI) yang didirikan oleh K.H Samanhudi pada 16 Oktober 1905. Samanhudi mendirikan Sarekat Dagang Islam dengan tujuan untuk menggalang kerja sama antara pedagang Islam demi memajukan kesejahteraan pedagang Islam pribumi. Awal pembentukan, Sarekat Islam adalah organisasi dagang bernama Sarekat Dagang Islam (SDI) yang didirikan oleh K.H Samanhudi pada 16 Oktober 1905. Pada tahun 1912, H.O.S Tjokroaminoto mengubah nama organisasi Sarekat Dagang Islam menjadi Sarekat Islam. Perubahan nama tersebut bertujuan agar keanggotaan organisasi tidak hanya terbatas pada golongan pedagang, namun juga terbuka bagi seluruh umat Islam di Indonesia. Sarekat Islam merupakan organisasi yang secara lantang menentang segala ketidakadilan dalam sistem kolonialisme di Indonesia. 
            Pendirian Sarekat Islam memiliki beberapa tujuan antara lain, mengembangkan jiwa dagang dan kesejahteraan masyarakat pribumi, mengembangkan pendidikan dan pengajaran bagi masyarakat pribumi, memperbaiki citra Islam di kalangan masyarakat luas, membantu kesulitan yang dialami anggota dalam sektor ekonomi, dan mengembangkan eksistensi agama Islam di Indonesia
        </p>
    </div>
    <footer>
    </footer>
</body>
</html>