<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pariwisata Home</title>
    <link rel="stylesheet" type="text/css" href="../../css/style.css"/>
</head>
<body>
    <img src="../../images/map.png" class="background-maps" alt="map background image"/>
    <header>
        <div class="nav-container">
            <a class="btn-image btn-left" href="bab-3-3.html"></a>
            <a class="btn-image btn-right" href="bab-3-5.html"></a>
        </div>
    </header>
    <div class="scrolling-content" style="padding-bottom: 64px; margin-bottom: 32px;">
        <div class="image-frame">
            <img src="../../images/img_bab_3_4.png"/>
        </div>
        <p>
            <span class="text-header">C. Muhammadiyah</span><br/>
            &nbsp    Muhammadiyah didirikan oleh Kiai Haji Ahmad Dahlan pada 18 November 1912. Pendirian Muhammadiyah bertujuan untuk memurnikan ajaran agama Islam di Jawa. Ahmad Dahlan menganggap bahwa umat Islam Jawa pada masa tersebut melenceng dari ajaran agama Islam dengan melakukan ibadah-ibadah yang bersifat mistik. Selain itu, Ahmad Dahlan juga berkeinginan untuk meningkatkan kesejahteraan dan persatuan umat Islam melalui kegiatan-kegiatan di bidang agama, sosial dan pendidikan. Pada awalnya, Muhammadiyah berkembang secara perlahan karena mendapat penolakan dari komunitas agama Islam tradisional di Jawa.
            Namun, penolakan-penolakan tersebut tidak menyurutkan Ahmad Dahlan untuk terus
            mengembangkan organisasi Muhammadiyah. Pada tahun 1925, Muhammadiyah memiliki lebih dari 4.000 anggota dan berhasil mendirikan 55 sekolah di beberapa kota besar di Jawa. Selain itu, Muhammadiyah juga berhasil mendirikan balai pengobatan, panti asuhan dan rumah dhuafa bagi masyarakat pribumi Nusantara
        </p>
    </div>
    <footer>
    </footer>
</body>
</html>