<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pariwisata Home</title>
    <link rel="stylesheet" type="text/css" href="../../css/style.css"/>
</head>
<body>
    <img src="../../images/map.png" class="background-maps" alt="map background image"/>
    <header>
        <div class="nav-container">
            <a class="btn-image btn-left" href="awal.html"></a>
            <a class="btn-image btn-right" href="bab-1-2.html"></a>
        </div>
    </header>
    
    <a class="scroll-container" style="margin: 32px auto;">
        <span>Pengertian Nasionalisme dan Pertumbuhan Nasionalisme di Indonesia</span>
    </a>

    <div class="scrolling-content" style="padding-bottom: 64px; margin-bottom: 32px;">
        <div class="image-frame">
            <img src="../../images/img_bab_1_1.png"/>
        </div>
        <p>
            Nasionalisme merupakan sikap kesetiaan dan kesadaran tertinggi seseorang harus diberikan kepada negara dan bangsanya (kokohnya rumah bangsa). Nasionalisme juga dapat diartikan sebagai suatu sikap politik dan sosial dari kelompok suatu bangsa yang mempunyai kesamaan kebudayaan, bahasa, dan wilayah, serta kesamaan cita-cita dan tujuan, dengan demikian kelompok tersebut melahirkan adanya kesetiaan kepada bangsanya. Nasionalisme Indonesia didasarkan pada faktor kemanusiaan, perpaduan politik,ekonomi, sosial dan Budaya (nasionalime awal). Nasionalisme yang berdasarkan faktor kemanusiaan muncul di suatu bangsa karena adanya kesadaran, rasa persatuaan, nasib yang sama, pengalaman penderitaan,kesengsaraan dan kepahitan hidup yang sama dan setara. Nasionalaime sebagai suatu paham menuntut kesetian tertinggi dari rakyat, kesetiaan harus diserahkan kepada negara, dan negara kebangsaan adalah cita-cita.
        </p>
        <p>
            Kesadaran berbangsa, yaitu kesadaran alamiah untuk bersatu sebagai suatu bangsa. Contoh nyata, rasa kebangsaan ini lahir karena persamaan sejarah, aspirasi perjuangan bangsa di masa lampau, kebersamaan dalam memperjuangkan kepentingan bangsa atas rasa keadilan, rasa senasib dan sepenanggungan, kesamaan pandangan, harapan dan tujuan dalam pencapaian cita-cita bangsa. Dengan kata lain, rasa kebangsaan itu adalah perekat yang mempersatukan dan memberikan dasar kepada individu manusia Indonesia yang kemudian melahirkan jati diri bangsa. Bentuk nyata dari rasa kebangsaan itu melahirkan paham kebangsaan: berupa gagasan, pikiran-pikiran luhur yaitu cita-cita kehidupan berbangsa dan bernegara. Paham kebangsaan tersebut, kemudian menumbuhkan kesepahaman dalam memandang masalah-masalah berbangsa dan bernegara. Aplikasi paham kebangsaan itu sifatnya dinamis, tetapi juga dipengaruhi oleh lingkungan strategis yang sangat kompleks.
        </p>
    </div>
    <footer>
    </footer>
</body>
</html>