<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pariwisata Home</title>
    <link rel="stylesheet" type="text/css" href="../../css/style.css"/>
</head>
<body>
    <img src="../../images/map.png" class="background-maps" alt="map background image"/>
    <header>
        <div class="nav-container">
            <a class="btn-image btn-left" href="bab-2-1.html"></a>
            <a class="btn-image btn-right" href="bab-2-3.html"></a>
        </div>
    </header>
    <div class="scrolling-content" style="padding-bottom: 64px; margin-bottom: 32px; margin-top: 64px;">
        <div class="image-frame">
            <img src="../../images/img_bab_2_2.png"/>
        </div>
        <p>
            <span class="text-header">B. Politik Etis / Balas Budi</span> <br/>
            &nbsp   Pada 1901 (Awal abad XX), Ratu Wilhelmina menuangkan panggilan moral ke dalam kebijakan politik etis yang terangkum dalam program Trias Van deventer yang meliputi irigasi (membangun dan menjadikan lebih baik pengairan-pengairan dan bendungan untuk kebutuhan pertanian), Emigrasi (mengajak masyarakat untuk bertransmigrasi), dan Edukasi (meluaskan dalam babak pengajaran dan pendidikan).
        </p>
    </div>
    <footer>
    </footer>
</body>
</html>