<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pariwisata Home</title>
    <link rel="stylesheet" type="text/css" href="../../css/style.css"/>
</head>
<body>
    <img src="../../images/map.png" class="background-maps" alt="map background image"/>
    <header>
        <div class="nav-container">
            <a class="btn-image btn-left" href="bab-2-9.html"></a>
            <a class="btn-image btn-right disabled"></a>
        </div>
    </header>
    <div class="scrolling-content" style="padding-bottom: 64px; margin-bottom: 32px; margin-top: 64px;">
        <div class="image-frame">
            <img src="../../images/img_bab_2_10.png"/>
        </div>
        <p>
            <span class="text-header">J. Perkumpulan Timor (Vereenigingen Van Timoreezen)</span> <br/>
            &nbsp   September 1921 didirikan organisasi Timorsch Verbond di bawah pimpinan J.W. Amallo. Tujuan organisasi ini adalah memajukan masyarakat Timor, terutama anak-anak. Tiga tahun kemudian (Agustus 1924) sebuah organisasi didirikan oleh C. Frans di Timor Kupang, bernama Perserikatan Timor. Tujuan organisasi ini adalah mengupayakan kemandirian penduduk pribumi, pendudukan di Residensi Timor dan sekitarnya, dan penguatan ikatan dalam aspek ekonomi, kebudayaaan, agama, politik yang bekerjasama dengan Belanda.
        <p>
    </div>
    <footer>
    </footer>
</body>
</html>