<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pariwisata Home</title>
    <link rel="stylesheet" type="text/css" href="../../css/style.css"/>
</head>
<body>
    <img src="../../images/map.png" class="background-maps" alt="map background image"/>
    <header>
        <div class="nav-container">
            <a class="btn-image btn-left" href="bab-2-8.html"></a>
            <a class="btn-image btn-right" href="bab-2-10.html"></a>
        </div>
    </header>
    <div class="scrolling-content" style="padding-bottom: 64px; margin-bottom: 32px; margin-top: 64px;">
        <div class="image-frame">
            <img src="../../images/img_bab_2_9.png"/>
        </div>
        <p>
            <span class="text-header">I. Perkumpulan Minahasa (Vereenigingen Van Minahassers)</span> <br/>
            &nbsp   Agustus 1912 berdiri sebuah organisasi Roekoen Minahasa di Semarang dengan maksud untuk menyalurkan aspirasi masyarakat Minahasa. Ketua organisasi ini adalah J.H. Pangemanan, redaktur utama harian berbahasa Melayu Djawa Tengah. Tujuan terpenting yakni memajukan perkembangan dan kecerdasan masyarakat Minahasa. 22 Agustus 1919 didirikanlah Minahasa Celebes dengan tujuan meningkatkan perkembangan intelektual, memajukan kemakmuran, dan memberikan bantuan kepada pihak yang memerlukan. Didirikan Jong Minahasa dengan tujuan meningkatkan kecerdasan masyarakat Minahasa dan memajukan perkembangan ekonomi dari negeri dan rakyat Minahasa. Didirikan perkumpulan Pangkal Setia di Tomohon (Minahasa) dengan tujuan meningkatkan kepentingan para anggotanya, perbaikan pendidikan Kristen di Manado, dan penguatan ikatan antara Minahasa dan Belanda.
        <p>
    </div>
    <footer>
    </footer>
</body>
</html>