<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pariwisata Home</title>
    <link rel="stylesheet" type="text/css" href="../../css/style.css"/>
</head>
<body>
    <img src="../../images/map.png" class="background-maps" alt="map background image"/>
    <header>
        <div class="nav-container">
            <a class="btn-image btn-left" href="bab-3-4.html"></a>
            <a class="btn-image btn-right" href="bab-3-6.html"></a>
        </div>
    </header>
    <div class="scrolling-content" style="padding-bottom: 64px; margin-bottom: 32px;">
        <div class="image-frame">
            <img src="../../images/img_bab_3_5.png"/>
        </div>
        <p>
            <span class="text-header">D. Nahdlatul Ulama (NU)</span>
            &nbsp        Nahdlatul Ulama (NU) didirikan pada 31 Januari 1926 di Surabaya. Pendirian Nahdlatul Ulama tidak terlepas dari peran Kiai Haji Hasyim Asy’ari dan Kiai Haji Abdul Wahab Hasbullah. Kedua tokoh ini dibantu oleh beberapa ulama lain sepakat menyatukan komunitas-komunitas di lingkungan pesantren untuk menjadi Nahdlatul Ulama. Pada masa pergerakan nasional Indonesia awal abad ke-20 Masehi, NU memberikan sumbangsih yang besar terhadap bidang pendidikan, sosial dan politik di kalangan masyarakat pribumi Indonesia. Pada perkembangannya, NU berperan aktif dalam melakukan perlawanan terhadap kolonialisme Belanda.
        </p>
    </div>
    <footer>
    </footer>
</body>
</html>