<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pariwisata Home</title>
    <link rel="stylesheet" type="text/css" href="../../css/style.css"/>
</head>
<body>
    <img src="../../images/map.png" class="background-maps" alt="map background image"/>
    <header>
        <div class="nav-container">
            <a class="btn-image btn-left" href="bab-3-2.html"></a>
            <a class="btn-image btn-right" href="bab-3-4.html"></a>
        </div>
    </header>
    <div class="scrolling-content" style="padding-bottom: 64px; margin-bottom: 32px;">
        <div class="image-frame">
            <img src="../../images/img_bab_3_3.png"/>
        </div>
        <p>
            <span class="text-header">B. Aliran Kepercayaan (Samin Surosentiko)</span>
            &nbsp    Suatu bentuk protes pedesaan mencapai puncaknya pada tahun 1914 di Blora Jawa Tengah. Seorang petani buta huruf bernama Surantiko Samin (1859-1914) menghimpun pengikut dari kalangan petani yang menolak segala bentuk kekuasaan dari luar khususnya menentang aturan kehutanan. Kaum Samin menganut kepercayaan asli yang disebut elmu Nabi Adam (ilmu pengetahuan dari Nabi Adam) meskipun menggunakan Bahasa arab tapi tidak ada sangkut pautnya dengan islam dan tidak diilhami pula oleh hindu-budha. Kepercayaan ini lebih pada kumpulan doktrin-doktrin etika dan agama yang menitik beratkan pada pentingnya kerja pertanian, kekuatan seksual, perlawanan pasif, dan keutamaan keluarga inti, menolak perekonomian uang & struktur-struktur desa yang bersifat non samin. Kaum Samin menolak membayar pajak, melaksanakan kerja paksa, atau memanfaatkan sekolah-sekolah pemerintah
            sehingga untuk menghentikan pergerakan pemerintah mengasingkan Samin ke Palembang dan meninggal disana. Namun Gerakan Samin terus berjalan dan peralawanan pasif mencapai puncak pada tahun 1914-tahun 1970 an.
        </p>
    </div>
    <footer>
    </footer>
</body>
</html>