<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pariwisata Home</title>
    <link rel="stylesheet" type="text/css" href="../../css/style.css"/>
</head>
<body>
    <img src="../../images/map.png" class="background-maps" alt="map background image"/>
    <header>
        <div class="nav-container">
            <a class="btn-image btn-left" href="bab-2-1.html"></a>
            <a class="btn-image btn-right" href="bab-2-3.html"></a>
        </div>
    </header>
    
    <a class="scroll-container" style="margin: 32px auto;">
        <span>Pengertian Nasionalisme dan Pertumbuhan Nasionalisme di Indonesia</span>
    </a>

    <div class="scrolling-content" style="padding-bottom: 64px; margin-bottom: 32px;">
        <div class="image-frame">
            <img src="../../images/img_bab_2_2.png"/>
        </div>
        <p>
            <span class="text-header">A. Kolonialisme</span> <br/>
            &nbsp   Indonesia yang kita kenal sekarang pada dasarnya merupakan produk dari masa lalu kolonialnya. Batas-batas wilayah dari Aceh di ujung barat hingga Papua di ujung Timur, sebagaimana di deklarasikan pada Proklamasi kemerdekaan 1945 persis sama dengan batas-batas Hindia Belanda dimulai tahun 1596 saat pertama kali kapal Belanda berlabuh di banten. Selama dua abad awal hingga 1799 berdirilah perusahaan swasta yang dikenal denga Vereenigde Ooost-Indische Compagnie (VOC). VOC berhasil menguasai bagian2 terpenting dari kepulauan nusantara yang kemudian berhasil membangun kuasa colonial. Tujuan pertamanya adalah menguasai maluku, kepuluan rempah yang sangat legendaris, sumber komuditas yg sangat berharga saat itu (cengkeh, pala dll). 
        </p>
    </div>
    <footer>
    </footer>
</body>
</html>