<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pariwisata Home</title>
    <link rel="stylesheet" type="text/css" href="../../css/style2.css"/>
</head>
<body>
    <img src="../../images/base_background.png" class="background-maps" alt="map background image"/>
    <header>
        <div class="nav-container">
            <a class="btn-image btn-left" href="map-jatim.html"></a>
        </div>
    </header>
    
    <a class="scroll-container" style="margin: 32px auto;">
        <span>Candi Sawentar</span>
    </a>

    <div class="image-frame">
        <img src="../../images/candi-sawentar.png"/>
    </div>

    <div class="scrolling-content" style="padding-bottom: 64px; margin-bottom: 32px;">
        <img src="../../images/paper-roll.png" alt="" class="bg-scrolling-content">
        <p>
            &nbsp          Candi Sawentar Candi Sawentar terletak di Dukuh Kanigoro, Kecamatan Garum, Kabupaten Blitar, Jawa Timur. Diduga candi ini digunakan untuk memuja Wisnu, karena terdapat yoni dengan pahatan garuda yang merupakan kendaraan Dewa Wisnu. Candi Sawentad diperkirakan dibangun pada awal sampai pertengahan abad 13 masehi.
        </p>
    </div>
    <footer>
    </footer>
</body>
</html>