<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pariwisata Home</title>
    <link rel="stylesheet" type="text/css" href="../../css/style2.css"/>
</head>
<body>
    <img src="../../images/base_background.png" class="background-maps" alt="map background image"/>
    <header>
        <div class="nav-container">
            <a class="btn-image btn-left" href="map-jatim.html"></a>
        </div>
    </header>
    
    <a class="scroll-container" style="margin: 32px auto;">
        <span>Candi Kidal</span>
    </a>

    <div class="image-frame">
        <img src="../../images/candi-kidal.png"/>
    </div>

    <div class="scrolling-content" style="padding-bottom: 64px; margin-bottom: 32px;">
        <img src="../../images/paper-roll.png" alt="" class="bg-scrolling-content">
        <p>
            &nbsp     Candi Kidal merupakan candi peninggalan Hindu yang terletak di Desa Rejokidal, Kecamatan Tumpang, Kabupaten Malang, Jawa Timur. Candi Kidal dibangun pada 1248 masehi atau setelah upacara pemakaman 'Cradha' untuk Raja Anusapati dari Kerajaan Singasari. Pembangunan candi ini ditujukan untuk mendarmakan Raja Anusapati, agar sang raja dapat mendapat kemuliaan sebagai Syiwa Mahadewa. Candi peninggalan Kerajaan Singasari ini dibangun sebagai bentuk penghormatan atas jasa besar Anusapati. Anusapati adalah putra Ken Dedes dan Tunggul Ametung yang menjadi raja kedua Singasari periode 1227-1248. Oleh para sejarawan, candi ini disebut sebagai candi pemujaan paling tua di Jawa Timur, karena raja-raja sebelumnya hanya meninggalkan petirtaan atau pemandian.
        </p>
        <p>
            &nbsp   Menurut Pararton, Candi Kidal dibangun pada 1248, setelah Cradha atau upacara pemakaman Raja Anusapati. Tujuan pembangunan candi ini adalah untuk mendarmakan Anusapati, agar mendapat kemuliaan sebagai Syiwa Mahadewa. Pembangunan Candi Kidal diperkirakan selesai pada sekitar tahun 1260. Setelah terkubur lama, Sir Thomas Stamford Raffles menemukan Candi Kidal pada awal abad ke-11 ketika ditugaskan di Jawa. Bangunan candi ini pernah dilakukan pemugaran pada tahun 1990-an untuk mengembalikan keindahannya. Dulunya, fungsi Candi Kidal adalah sebagai tempat persemayaman Raja Anusapati dan sebagai tempat pemujaan.
            Dibangun pada masa transisi keemasan kerajaan di Jawa Tengah ke Jawa Timur, Candi Kidal mewarisi perpaduan corak kedua daerah tersebut. Bangunannya berdenah bujur sangkar dan dilengkapi dengan penampil serta tangga masuk di bagian barat. 
        </p>
        <p>
            &nbsp   Candi Kidal terdiri dari tiga bagian, yaitu kaki, bada, dan atap, yang keseluruhan bentuk bangunannya terlihat ramping, sebagaimana lazimnya candi gaya Jawa Timuran. Bagian kaki candinya besar dan agak tinggi, sementara tubuh candinya dibangun agak ke belakang dan bagian atasnya berbentuk seperti piramida dan puncaknya seperti kubus. Bangunan Candi Kidal terbuat dari batu andesit, sedangkan bagian inti fondasi, batur, dan kakinya terbuat dari bata. Di setiap sudut kaki dan sudut penampilnya dihiasi dengan sebuah arca singa.
            Keunikan sekaligus ciri khas Candi Kidal terdapat pada reliefnya, yang mengisahkan legenda Garudeya (Garuda) yang dipahatkan pada kaki candi. Dalam kesusastraan Jawa kuno, terdapat mitos Garudeya yang terkenal, yaitu seekor garuda yang berhasil membebaskan ibunya dari perbudakan dengan tebusan air suci amerta (air kehidupan).
        </p>
        <p>
            &nbsp   Konon relief Garudeya di Candi Kidal dibuat untuk memenuhi amanat Anusapati yang ingin meruwat ibunya, Ken Dedes. Relief cerita Garudeya di candi ini dapat dibaca berjalan berlawanan arah jarum jam, dimulai dari sisi sebelah selatan. Relief pertama menggambarkan Garuda menggendong tiga ekor ular besar, relief kedua melukiskan Garuda dengan kendi di atas kepalanya, dan relief ketiga Garuda menyangga seorang perempuan (ibunya yang bernama Winata). Berdasar relief Garudeya, banyak yang beranggapan bahwa Raja Anusapati sangat berbakti dan mencintai ibunya. Raja Anusapati ingin ibunya lepas dari penderitaan dan nestapa salama hidupnya, dan menjadi suci kembali.
        </p>
    </div>
    <footer>
    </footer>
</body>
</html>