<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pariwisata Home</title>
    <link rel="stylesheet" type="text/css" href="../../css/style2.css"/>
</head>
<body>
    <img src="../../images/base_background.png" class="background-maps" alt="map background image"/>
    <header>
        <div class="nav-container">
            <a class="btn-image btn-left" href="map-yogya.html"></a>
        </div>
    </header>
    
    <a class="scroll-container" style="margin: 32px auto;">
        <span>Candi Ratu Boko</span>
    </a>

    <div class="image-frame">
        <img src="../../images/candi-ratu-boko.png"/>
    </div>

    <div class="scrolling-content" style="padding-bottom: 64px; margin-bottom: 32px;">
        <img src="../../images/paper-roll.png" alt="" class="bg-scrolling-content">
        <p>
            &nbsp       Bangunan Candi Ratu Boko terletak di atas sebuah bukit di perbatasan Kabupaten Sleman, Daerah Istimewa Yogyakarta. Bangunan ini bukan hanya difungsikan tempat ibadah, namun sebuah kompleks pemukiman atau keraton. Menurut prasasti yang ditemukan, pada awalnya Situs Ratu Boko merupakan sebuah vihara untuk pendeta Buddha yang bernama Abhayagiri. Kemudian bangunan ini difungsikan sebagai keraton oleh penguasa beragama Hindu bernama Rakai Walaing Pu Kumbayoni. Hal ini karena komplek ini cukup luas dan sudah adanya penguasa dari Agama Hindu.
        </p>
    </div>
    <footer>
    </footer>
</body>
</html>