<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pariwisata Home</title>
    <link rel="stylesheet" type="text/css" href="../../css/style2.css"/>
</head>
<body>
    <img src="../../images/base_background.png" class="background-maps" alt="map background image"/>
    <header>
        <div class="nav-container">
            <a class="btn-image btn-left" href="map-jateng.html"></a>
        </div>
    </header>
    
    <a class="scroll-container" style="margin: 32px auto;">
        <span>Candi Gedong Songo</span>
    </a>

    <div class="image-frame">
        <img src="../../images/candi-gedong-sanga.png"/>
    </div>

    <div class="scrolling-content" style="padding-bottom: 64px; margin-bottom: 32px;">
        <img src="../../images/paper-roll.png" alt="" class="bg-scrolling-content">
        <p>
            &nbsp       Candi Gedong Sanga terletak di puncak Gunung Ungaran, tepatnya di Desa Candi, Kecamatan Sumowono, Semarang, Jawa Tengah. Menilik gaya arsitektur dan letaknya, candi Hindu Syiwa ini diduga berfungsi sebagai tempat pemujaan. Meskipun belum diketahui kapan tepatnya candi ini dibangun, namun lokasinya yang berada di daerah perbukitan mendasari dugaan bahwa candi ini dibangun pada masa awal perkembangan agama Hindu di Jawa, yaitu pada masa pemerintahan raja-raja Wangsa Sanjaya. Pada masa itu dataran tinggi atau perbukitan dianggap sebagai perwujudan dari 'kahyangan', tempat bersemayam para dewa.
        </p>
    </div>
    <footer>
    </footer>
</body>
</html>