<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pariwisata Home</title>
    <link rel="stylesheet" type="text/css" href="../../css/style2.css"/>
</head>
<body>
    <img src="../../images/base_background.png" class="background-maps" alt="map background image"/>
    <header>
        <div class="nav-container">
            <a class="btn-image btn-left" href="map-yogya.html"></a>
        </div>
    </header>
    
    <a class="scroll-container" style="margin: 32px auto;">
        <span>Candi Prambanan</span>
    </a>

    <div class="image-frame">
        <img src="../../images/candi-prambanan.png"/>
    </div>

    <div class="scrolling-content" style="padding-bottom: 64px; margin-bottom: 32px;">
        <img src="../../images/paper-roll.png" alt="" class="bg-scrolling-content">
        <p>
            &nbsp      Candi Prambanan di Jawa Tengah Merupakan candi yang menurut ahli sejarah berkembang di Jawa sejak abad ke sembilan. Secara umum bagian candi dapat dibedakan atas tiga bagian, yaitu atap candi, tubuh candi, dan kaki candi. 
        </p>
        <p> a. Atap Candi <br>
            &nbsp   Ada candi Hindu atap candi dinamakan Swarloka 🡪 Pada bagian ini menggambarkan alam teratas yaitu alam kayangan atau surga di mana setiap umat Hindu bila meninggal tujuannya ke alam surga. Ciri-ciri atap candi Hindu terdapat hiasan yang bernama Ratna atau Amalaka. Ratna adalah sejenis bunga teratai yang masih kuncup. Pada puncak atap terdapat Lingga dan Padma. Pada candi Buddha terutama Candi Borobudur atap Candi Borobudur diberi nama Arupadatu. Arupadhatu adalah bagian dari masa Sidharta " Buddha" Gautama sudah mencapai kesempurnaan dan tidak terikat oleh jasad. Pada Candi Budha bagian atap terdapat hiasan yang bernama Stupa.
        </p>
        <p>b. Tubuh Candi <br>
            &nbsp   Tubuh candi adalah bagian candi yang berada di bagian tengah 🡪 Bagian ini terdapat berbagai patung atau arca dan ada pula pada tubuh candi terdapat beberapa ukiran yang disebut relief. Pada tubuh candi Hindu bernama Buarloka.  Makna buarloka adalah alam antara kehidupan surga dan kehidupan dunia. Ciri-ciri pada tubuh candi Hindu terdapat berbagai jenis patung atau arca dan relief para dewa. Terdapat berbagai dewa yang menghiasi tubuh candi Hindu, yang utama terdapat arca Dewa Siwa, Dewa Wisnu, Dewa Brahma, Ganesha, dan Durga. Untuk membedakan dewa yang satu dengan dewa yang lain dapat dilihat dari atribut yang melekat pada setiap patung tersebut. Atribut yang terdapat pada tiap-tiap patung dewa disebut Pantheon. Pada candi Hindu terdapat beberapa jenis patung yang menghiasi pada setiap relung (bilik) candi.
        </p>
        <p>c. Kaki candi <br>
            &nbsp   Kaki candi adalah bagian terbawah dari seluruh bagian candi. Kaki candi berbentuk bujur sangkar yang pada umumnya terdiri atas perbingkaian bawah, dinding kaki, dan perbingkaian atas. Kaki candi Hindu bernama Bhurloka🡪 Bhurloka berarti kehidupan alam dunia. Perbedaan antara kaki candi Hindu dan candi Buddha adalah keberadaan peripih di dalam kaki candi tersebut. Pada candi Hindu di candi ditemukan peripih sedangkan pada candi Buddha tidak dapat peripih. Peripih adalah sebuah kotak yang terbuat dari batu yang dipergunakan untuk menyimpan benda-benda keramat orang yang meninggal seperti raja. Benda tersebut bisa berupa abu jenazah, cincin, kuku, dan sebagainya.
        </p>
    </div>
    <footer>
    </footer>
</body>
</html>