<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pariwisata Home</title>
    <link rel="stylesheet" type="text/css" href="../../css/style2.css"/>
</head>
<body>
    <img src="../../images/base_background.png" class="background-maps" alt="map background image"/>
    <header>
        <div class="nav-container">
            <a class="btn-image btn-left" href="map-jambi.html"></a>
        </div>
    </header>
    
    <a class="scroll-container" style="margin: 32px auto;">
        <span>Candi Muara Jambi</span>
    </a>

    <div class="image-frame">
        <img src="../../images/candi-muara-jambi.png"/>
    </div>

    <div class="scrolling-content" style="padding-bottom: 64px; margin-bottom: 32px;">
        <img src="../../images/paper-roll.png" alt="" class="bg-scrolling-content">
        <p>
            &nbsp     Candi Muara Jambi terletak di tepian sungai Batanghari, teptnya di Kecamatan Maro Sebo, Kabupaten Muaro Jambi, Provinsi Jambi. Berdasarkan hasil penelitian, Candi Muaro Jambi merupakan tempat peribadatan dan tempat pendidikan agama Buddha. Pembangunannya dilaksanakan pada abad ke-7 hingga abad ke-12 masehi, sehingga diduga merupakan bagian dari peninggalan Kerajaan Sriwijaya.
        </p>
    </div>
    <footer>
    </footer>
</body>
</html>