<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pariwisata Home</title>
    <link rel="stylesheet" type="text/css" href="../../css/style2.css"/>
</head>
<body>
    <img src="../../images/base_background.png" class="background-maps" alt="map background image"/>
    <header>
        <div class="nav-container">
            <a class="btn-image btn-left" href="map-jateng.html"></a>
        </div>
    </header>
    
    <a class="scroll-container" style="margin: 32px auto;">
        <span>Candi Dieng</span>
    </a>

    <div class="image-frame">
        <img src="../../images/candi-dieng.png"/>
    </div>

    <div class="scrolling-content" style="padding-bottom: 64px; margin-bottom: 32px;">
        <img src="../../images/paper-roll.png" alt="" class="bg-scrolling-content">
        <p>
            &nbsp   Candi Dieng terdiri atas 4 candi yang berderet memanjang arah utara-selatan. Candi Arjuna berada di ujung selatan, kemudian berturut-turut ke arah utara adalah Candi Srikandi, Candi Sembadra dan Candi Puntadewa. Tepat di depan Candi Arjuna, terdapat Candi Semar. Kawasan dieng terdapat beberapa candi yang dibangun pada masa Wangsa Sanjaya abad ke 8 dan ke 9, artinya Candi Dieng merupakan peninggalan Kerajaan Mataram Kuno. Candi di dataran tinggi Dieng berjumlah delapan, meskipun dulunya lebih dari delapan, meliputi Candi Gatotkaca, Arjuna, Semar, Bimo, Srikandi, Sembrodo, Dwarawati dan Candi Puntodewo. Ciri khas candi di kompleks dataran tinggi Dieng adalah berdenah bujur sangkar, mempunyai tiga bagian yakni kaki, tubuh dan atap. Deretan percandian disini merupakan candi bercorak Hindu, diperkirakan dibangun pada abad ke tujuh masehi. 
        </p>
        <p>
            &nbsp   Candi Dieng merupakan kumpulan candi yang terletak di kaki pegunungan Dieng, Wonosobo, Jawa tengah. Kompleks di kawasan Candi Dieng dinamakan berdasarkan nama tokoh dalam cerita wayang yang diadopsi dari Kitab Mahabharata yaitu Kelompok Candi Arjuna, Kelompok Candi Gatotkaca, Kelompok Candi Dwarawati dan satu candi yang berdiri sendiri adalah Candi Bima.  Kumpulan candi Hindu beraliran Syiwa yang diperkirakan dibangun antara akhir abad ke-8 sampai awal abad ke-9 atas perintah raja-raja dari Wangsa Sanjaya. Fungsi Candi di kompleks Dieng adalah sebagai tempat pemujaan dewa tertinggi Agama Hindu, yakni Trimurti, meliputi Dewa Syiwa, Brahma dan Wisnu. Fungsi lainnya dipercaya sebagai pusat Agama Hindu di Nusantara. Dibuktikan dari hasil penelitian para ahli sejarah bahwa Candi di kompleks ini merupakan Candi Hindu tertua di Indonesia.
        </p>
    </div>
    <footer>
    </footer>
</body>
</html>