<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pariwisata Home</title>
    <link rel="stylesheet" type="text/css" href="../../css/style2.css"/>
</head>
<body>
    <img src="../../images/base_background.png" class="background-maps" alt="map background image"/>
    <header>
        <div class="nav-container">
            <a class="btn-image btn-left" href="map-jatim.html"></a>
        </div>
    </header>
    
    <a class="scroll-container" style="margin: 32px auto;">
        <span>Candi Deres</span>
    </a>

    <div class="image-frame">
        <img src="../../images/candi-deres.png"/>
    </div>

    <div class="scrolling-content" style="padding-bottom: 64px; margin-bottom: 32px;">
        <img src="../../images/paper-roll.png" alt="" class="bg-scrolling-content">
        <p>
            &nbsp   Candi Deres terletak di Dusun Krajan, Desa Purwoasri, Kecamatan Gumukmas, Kabupaten Jember, Jawa Timur. Kondisi candi ini tidak lagi utuh, hanya tersisa struktur batur dan sebagian tubuh candi yang kini dicengkeram akar pohon beringin. Konon, Candi Deres dibangun oleh Prabu Hayam Wuruk ketika mengadakan perjalanan keliling Jawa Timur pada abad ke-14. (Negerakertagama,  karangan Mpu Prapanca). Candi ini bercorak Budha Mahayana yang menjadi tempat ritual dan bersamadi oleh Raja Hayam Wuruk. Candi ini berbahan dasar tanah bata merah yang tersusun rapi dan kokoh karena kehebatan arsitek dan teknologi saat itu. Tanah liat merah yang menjadi meterial candi candi yang ada di Jawa Timur. Hal ini berbeda dengan candi yang ada di Jawa  Tengah yang berbahan dasar batu andesit. Umumnya candi-candi yang ada di Jawa Timur meliputi daerah Blitar, Malang,  Mojokerjo, Probolinggo, Lumajang, Jember sampai Banyangi menggunakan bahan batu bata merah  yang berasal dari tanah liat.
        </p>
    </div>
    <footer>
    </footer>
</body>
</html>