<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pariwisata Home</title>
    <link rel="stylesheet" type="text/css" href="../../css/style2.css"/>
</head>
<body>
    <img src="../../images/base_background.png" class="background-maps" alt="map background image"/>
    <header>
        <div class="nav-container">
            <a class="btn-image btn-left" href="map-jatim.html"></a>
        </div>
    </header>
    
    <a class="scroll-container" style="margin: 32px auto;">
        <span>Candi Penataran</span>
    </a>

    <div class="image-frame">
        <img src="../../images/candi-penataran.png"/>
    </div>

    <div class="scrolling-content" style="padding-bottom: 64px; margin-bottom: 32px;">
        <img src="../../images/paper-roll.png" alt="" class="bg-scrolling-content">
        <p>
            &nbsp      Candi Penataran terletak di lereng barat daya Gunung Kelud, di Desa Panataran, Kecamatan Ngleggok, Kabupaten Blitar, Jawa Timur. Dalam kitab Negarakertagama, Candi Penataran disebut dengan nama Candi Palah. yang dibangun pada awal abad ke-12 masehi. Menganut kepercayaan Syiwa, candi ini dibangun sebagai tempat pemujaan terhadap Gunung Kelud dengan maksud untuk menghindari petaka. Candi penataran memiliki nama asli Candi Palah, sebuah komplek candi Hindu Siwa yang berada di Desa Penataran, Kecamatan Nglegok, Kabupaten Blitar. 
        </p>
        <p>
            &nbsp   Candi Penataran merupakan candi paling megah dan paling luas di Jawa Timur. Candi ini terletak di lereng barat daya Gunung Kelud dan ketinggian 450 meter diatas permukaan laut ini diperkirakan dibangun pada masa Raja Srengga dari kerajaan Kadiri sekitar tahun 1200 Masehi dan digunakan sampai masa pemerintahan Wikramawardhana, Kerajaan Majapahit sekitar tahun 14.15. Dalam kitab Desawwarnana atau Negarakretagama yang ditulis tahun 1365, Candi Penataran disebut sebagai bangunan suci Palah yang dikunjungi Raja Hayam Wuruk ketika melakukan perjalanan kerajaan bertamasya keliling Jawa Timur.
        </p>
        <p>
            &nbsp   Prasasti Palah menerangkan bahwa “menandakan Kertajaya berbahagia dengan kenyataan tidak terjadi sirnanya empat penjuru dari bencana” dari kalimat ”tandhan krtajayayåhya / ri bhuktiniran tan pariksirna nikang sang hyang catur lurah hinaruhåra nika”. Rasa senangnya tersebut kemudian dia curahkan dengan perintah dibangunnya prasasti yang tertulis dalam sebuah linggapala oleh Mpu Amogeçwara atau disebut pula Mpu Talaluh. Bangunan tersebut dia fungsikan untuk menyembah Bathara Palah, seperti yang tertuang dalam prasasti tersebut yang beerbunyi “sdangnira Çri Maharaja sanityangkên pratidina i sira paduka bhatara palah” yang berarti “Ketika dia Sri Maharaja senantiyasa setiap hari berada di tempat bathara Palah”.
        </p>
        <p>
            &nbsp   Arca Dwarapala yang berada di pintu masuk candi seolah-olah menyambut para pengunjung yang datang ke candi ini. Arca ini juga biasa disebut dengan reco pentung. Setelah itu kita bisa melihat hamparan rumput yang hijau dan rapi apabila datang di musim penghujan. Apabila datang di musim kemarau akan tampak rerumputan yang kering. Setelah itu di bagian depan terdapat sebuah bale agung yang merupakan sebuah pelataran. Untuk naik ke bale agung ini kita bisa melewati anak tangga yang diapit arca Mahapala. Tidak jauh dari bale agung ini ada pendopo teros yang diduga difungsikan sebagai tempat sesaji ketika upacara keagamaan.
        </p>
        <p>
            &nbsp    Komplek candi penataran ini memiliki beberapa candi, berikut beberapa candi yang ada di komplek candi paling besar di jawa timur ini. Bangunan candi ini terbuat dari batu andesit. Pada ambang pintu masuknya terdapat angka tahun 1291 Saka (1369 M). Hal ini yang membuat masyarakat menyebutnya dengan candi angka tahun. Kemudian ada juga yang menyebutnya sebagai candi ganesha karena didalamnya terdapat sebuah arca ganesha.
        </p>
    </div>
    <footer>
    </footer>
</body>
</html>