<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pariwisata Materi</title>
    <link rel="stylesheet" href="styling-jember.css"/>
</head>
<body>
    <div class="container-row">
        <div class="content-container">
            <div class="content-nav">
                <div class="nav-buttons">
                    <a class="btn-image btn-left" href="7.html"> </a>
                    <div style="width: 24px;"></div>
                    <a class="btn-image btn-right" href="9.html"> </a>
                </div>
                <div class="">
                    <div class="title-text">
                        <img src="../../../images/banyuwangi/8-title.png" alt="image title">
                    </div> 
                </div>
            </div>
            <div class="content">
                <div class="two-sides">
                    <div class="first-side">
                        <div class="thumbnail-image">
                            <img src="../../../images/banyuwangi/8-img.png" alt="image thumbnail">
                        </div>
                    </div>
                    <div class="second-side">
                        <img src="../../../images/banyuwangi/8-content.png" alt="image content" class="content-image">
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>