<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pariwisata Materi</title>
    <link rel="stylesheet" href="styling-jember.css"/>
</head>
<body>
    <div class="container-row">
        <div class="content-container">
            <div class="content-nav">
                <div class="nav-buttons">
                    <a class="btn-image btn-left" href="banyuwangi.html"> </a>
                    <div style="width: 24px;"></div>
                    <a class="btn-image btn-right" href="1.html"> </a>
                </div>
                <div class="nav-title">
                    <div class="title-text">
                        Julukan-julukan <br> 
                        Kabupaten Banyuwangi 
                    </div> 
                </div>
            </div>
            <div class="content">
                <div class="two-sides">
                    <div id="first-side">
                        <img src="../../../images/julukan_kabupaten_banyuwangi.png" style="width:672px; height: 697px;"/>
                    </div>
                    <div id="second-side">
                        <ol class="styled-ol">
                            <li>1. Banyuwangi Kota Pisang</li>
                            <li>2. Banyuwangi Lumbung Padi</li>
                            <li>3. Banyuwangi Kota Bahari</li>
                            <li>4. Banyuwangi Ijo Royo-royo</li>
                            <li>5. Bumi Blambangan</li>
                            <li>6. Banyuwangi Kota Gandrung</li>
                            <li>7. Banyuwangi Kota Santet</li>
                            <li>8. The Sunrise of Java</li>
                            <li>9. Kota Festival</li>
                            <li>10. Banyuwangi Kota Kopi</li>
                            <li>11. Mianure of Indonesia</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>